<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".ParentPortalApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_vu_logo"
        android:label="@string/app_name"
        android:theme="@style/Theme.ParentPortal">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/main_activity_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:label="@string/login_activity_title" />
<!--        <activity-->
<!--            android:name=".ParentActivity"-->
<!--            android:exported="false"-->
<!--            android:label="@string/parent_activity_title" />-->
        <activity
            android:name=".StudentListActivity"
            android:exported="false"
            android:label="@string/student_list_title" />

        <activity
            android:name=".StudentEditActivity"
            android:exported="false"
            android:label="@string/student_edit_title" />

        <activity
            android:name=".StudentDetailActivity"
            android:exported="false"
            android:label="@string/student_detail_title" />

<!--        <activity-->
<!--            android:name=".StudentProfileActivity"-->
<!--            android:exported="false"-->
<!--            android:label="@string/student_profile_title" />-->

        <activity
            android:name=".StudentActionActivity"
            android:exported="false"
            android:label="@string/student_action_title" />


        <activity
            android:name=".FullScreenImageActivity"
            android:exported="false"
            android:theme="@style/Theme.ParentPortal.FullScreen"
            android:label="@string/fullscreen_image_title" />
    </application>

</manifest>
